* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(hsl(206.57deg 89.74% 54.12%), hsl(207deg 53% 71% / 23%));
}