* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width:100vw;
  height: 100vh;
}

.container {
  display: flex;
  width:100%;
  height:100%;
  justify-content: space-evenly;
  gap: 15px;
  padding: 15px;
}

.navigation-bar {
  background: linear-gradient(45deg, hsl(0 0% 79% / 1), hsl(0deg 0% 100%));
  width:20%;
  height : 100%;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.navigation-contents {
  list-style: none;
  display: flex;
  width:100%;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.navigation-contents li {
  font-size: 28px;
  font-weight: 500;
  background-color: rgb(231, 234, 237);
  border : 1px solid hsl(0, 3%, 87%);
  box-shadow: 5px 5px 5px 2px rgb(210, 208, 208);
  padding: 0.4em;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; 
}

.navigation-contents li a {
  text-decoration: none;
  color: rgb(77, 75, 75);
}

.main-container {
  display: flex;
  width: 80%;
  height:100%;
  background : linear-gradient(45deg, hsl(0 0% 79% / 1), hsl(0deg 0% 100%));
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.2);
}